@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "掲示板Top";
}


<div>
    <h3>掲示板の件数</h3>
    <p>現在、<span style="font-weight: bold; color: blue;">@ViewBag.BoardCount</span> 件の掲示板があります。</p>
</div>
<hr />
<div>
    @Html.ActionLink("掲示板一覧", "", "Board")
</div>
<div>
    @Html.ActionLink("掲示板追加", "Create", "Board")
</div>

